* {
  font-family: 'Public pixel';
  src: url(assets/fonts/PublicPixel.ttf);
  src: url(assets/fonts/PublicPixel.woff) format('woff');
}

@font-face {
  font-family: 'Public pixel';
  src: url(assets/fonts/PublicPixel.ttf);
  src: url(assets/fonts/PublicPixel.woff) format('woff');
}

.bg-main {
  background-color: #001118;
}

.bg-linear {
  background-image: linear-gradient(#001118, black);
}

.mg-top {
  margin-top: 100%;
}